html {
    height: 100%;
}

body{
    background-color: #eee;
    height: 100%;
}

#menu {
 height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100%;
}
.form-container {
    max-width: 330px;
    padding: 1rem;
}

