{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <div class="card card-body bg-light">
                <h2 class="text-center mb-4">Bem-vindo à Calculadora de Análise de Solo</h2>
                <p class="lead">Este sistema foi desenvolvido como trabalho de conclusão de curso, apresentando uma "Calculadora de Análise de Solo para Profissionais de Agronomia".</p>
                <p>O sistema visa fornecer uma ferramenta gratuita e acessível, especificamente projetada para profissionais e estudantes da agronomia. Ele realiza cálculos específicos para calagem e gesso agrícola, essenciais para o desempenho das culturas agrícolas.</p>
                <p>A correta aplicação de nutrientes como Cálcio (Ca), Magnésio (Mg) e Enxofre (S) é crucial para otimizar a produtividade das culturas, equilibrar o pH do solo e maximizar a produção.</p>
                <p>Ao simplificar o processo de cálculo da correção do solo, a calculadora proporciona recomendações personalizadas com base nas características específicas do solo e nas necessidades das plantas.</p>
                <p>Este projeto visa preencher uma lacuna ao oferecer uma ferramenta eficiente que contribui para uma agricultura mais sustentável e produtiva, beneficiando diretamente os profissionais de agronomia.</p>
                <div class="text-center mt-4">
                    <a href="/correcao" class="btn btn-primary btn-lg">Começar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
